@import url(../../../../styles/styles.css);

.customNodeBody {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

div.sourceHandle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

div.targetHandle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

.node-button-container {
  display: flex;
  top: -50px;
  z-index: 2000;
}

.node-button {
  z-index: 3000;
}

.delete-button {
  position: absolute;
  right: 0px;
}
